body {
    background-image: url('https://images.unsplash.com/photo-1618859437290-dc3cda39ea58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aHVtYW4lMjBoZWFydHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

  h2 {
    text-align: center;
    font-weight: bold; 
    
    padding: 10px;
  }
  .main_container {
    width: 60%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  form {
    margin-top: 20px;
  }
  label, input, select {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
  }
  input[type="number"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
  }
  select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
  }
  button {
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00cc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #008800;
  }