<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Heart Disease predictor</title>
</head>

<body>
    <h2>We are making a heart disease predictor let see how our model perform in real world scenerio</h2>
    <div class="main_container">
        <form action="/make_prediction" method="post">
            <label for="age">Enter your age :- </label>
            <input type="number" min=5 max=100 name="age">
            <label for="sex ">Enter your gender :- </label>
            <select name="sex " id="">
                <option selected disabled>Select from the below</option>
                <option value=0>Female</option>
                <option value=1>Male</option>
            </select>
            <label for="Chest_pain">Enter your chest pain level :- </label>
            <select name="chest pain type" id="">
                <option selected disabled>Select from the below</option>
                <option value=1> Typical angina</option>
                <option value=2>Atypical angina</option>
                <option value=3>Non-anginal pain</option>
                <option value=4>Asymptomatic</option>

            </select>
            <label for="resting blood pressure">Resting blood pressure (in mm Hg on admission to the hospital)</label>
            <input type="number" name="resting blood pressure">
            <label for="serum cholestoral">Serum cholestoral in mg/dl</label>
            <input type="number" name="serum cholestoral">
            <label for="fasting blood sugar"> Is fasting blood sugar > 120 mg/dl</label>
            <select name="fasting blood sugar" id="">
                <option selected disabled>Select from the below</option>
                <option value=1>True</option>
                <option value=0>False</option>
            </select>
            <label for="resting electrocardiographic results">Resting electrocardiographic results</label>
            <select name="resting electrocardiographic results" id="">
                <option selected disabled>Select from the below</option>
                <option value=0>Normal</option>
                <option value=1>Having ST-T wave abnormality</option>
                <option value=2>Showing probable or definite left ventricular hypertrophy by Estes' criteria</option>
            </select>
            <label for="max heart rate">Maximum heart rate achieved</label>
            <input type="number" name="max heart rate">
            <label for="exercise induced angina">Chest pain or discomfort does occurs during exercise.</label>
            <select name="exercise induced angina" id="">
                <option selected disabled>Select from the given below</option>
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>
            <label for="oldpeak">ST depression induced by exercise relative to rest(oldpeak)</label>
            <input type="number" name="oldpeak">
            <label for="ST segment">The slope of the peak exercise ST segment</label>
            <select name="ST segment" id="">
                <option selected disabled>Select from the given below</option>
                <option value=1>upsloping</option>
                <option value=2>flat</option>
                <option value=2>downsloping</option>
            </select>
            <label for="major vessels">Number of major vessels (0-3) colored by flourosopy</label>
            <select name="major vessels" id="">
                <option selected disabled>Select from the given below</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
            </select>
            <label for="thal">Thallium stress test.</label>
            <select name="thal" id="">
                <option selected disabled>Select from the given below</option>
                <option value=3>Normal</option>
                <option value=7>Reversable defect</option>
                <option value=6>Fixed defect</option>
            </select>
            <button type="submit">Predict</button>

        </form>
        <h2>{{ pred }}</h2>
    </div>

</body>

</html>